{% if site.env == 'debug' %}
<script type="text/javascript">
// using console.log from log function, so it'll be easier to remove disable log later.
function log() {
    if (window.console) console.log.apply(console,arguments);
}
</script>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.caret.js"></script>
<script type="text/javascript" src="assets/js/jquery.atwho.js"></script>
<script type="text/javascript" src="assets/js/jquery.hammer.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.timeago.js"></script>
<script type="text/javascript" src="assets/js/avro.min.js"></script>
<script type="text/javascript" src="assets/js/avro.localstorage.js"></script>
<script type="text/javascript" src="assets/js/draft.js"></script>
<script type="text/javascript" src="assets/js/at.js"></script>
{% else %}
<script type="text/javascript" src="{{ site.scriptname }}"></script>
{% endif %}