<link rel="stylesheet" href="assets/css/jquery.atwho.css" />
<link rel="stylesheet" type="text/css" href="assets/css/syntax.css"/>
<!--link href='http://fonts.googleapis.com/css?family=Dosis:400,700|Bubblegum+Sans|Overlock:400,900|PT+Sans:400,700|PT+Sans+Narrow:400,700|Magra|Asap:400,700|Share:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' -->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<style type="text/css">
html, body {
  background:#F9F9F9;
  padding: 0;
  margin: 0;
  font: 14px/1.6 "Lucida Grande", "Helvetica", sans-serif;
  color: #333;
}
h1,h2,h3,h4 {
  font-family: 'PT Sans', sans-serif;
  line-height: 40px;
  color: inherit;
  font-weight: bold;
  margin: 10px 0;
  text-rendering: optimizelegibility;
}
h2,h3 {
  color: gray;
}
strong {
  color: #424242;
}

a {
  color: #4183C4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}
header {
  margin-top:-15px;
  margin-bottom: 20px;
  margin-left: 120px;
}
header h1 {
  text-align: center;
  font-size: 36px;
}
@media screen and (min-width:800px) {
	header {
	  margin-top:70px;
	  margin-bottom: 50px;
	  margin-left: 0px;
	}
	header h1 {
	  text-align: center;
	  font-size: 75px;
	}
}
h1 i {
  color: rgb(182, 180, 180);
  font-style: normal;
  font-weight: normal;
}

.inputor {
  height: 160px;
  width: 90%;
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 5px 8px;
  outline: 0 none;
  margin: 10px 0;
  background: white;
  font-size: inherit;
}
.inputor:focus {
  border: 1px solid rgb(6, 150, 247);
}


ul.doc {
  list-style:none;
}
ul.doc li {
  display:inline-block;
  margin: 0 10px;
}

footer {
  margin: 30px 0;
}

.github {
  text-align: center;
}

#forkmegithub {
	display : none;
}

@media screen and (min-width:800px) {
	#forkmegithub {
		display : inline;
	}
}

#forkongithub a {
	background: #000;
	color: #fff;
	text-decoration: none;
	font-family: arial, sans-serif;
	text-align: center;
	font-weight: bold;
	padding: 5px 15px;
	font-size: 1rem;
	line-height: 2rem;
	position: absolute;
	transition: 0.5s;
}
#forkongithub a:hover {
	background: #060;
	color: #fff;
}
#forkongithub a::before,#forkongithub a::after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 1px;
	background: #fff;
}
#forkongithub a::after {
	bottom: 1px;
	top: auto;
}
@media screen and (min-width:800px) {
	#forkongithub {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;
	}
	#forkongithub a {
		width: 200px;
		position: absolute;
		top: 60px;
		left: -60px;
		padding: 5px 40px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
	}
}
</style>
<style>
/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 */

:root input[type="checkbox"] { /* :root here acting as a filter for older browsers */
	position: absolute;
	opacity: 0;
}

:root input[type="checkbox"].ios-switch + div {
	display: inline-block;
	vertical-align: middle;
	width: 3em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 .5em;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width, background-position, text-indent;
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset;
	font-size: 200%; /* change this and see how they adjust! */
}

:root input[type="checkbox"].ios-switch:checked + div {
	padding-left: 2em;	width: 1em;
	background-position: 0 0;
}

:root input[type="checkbox"].ios-switch + div:before {
	content: 'bn';
	float: left;
	width: 1.65em; height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
	            0 0 .5em rgba(0,0,0,.3);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}

:root input[type="checkbox"].ios-switch:active + div:before {
	background-color: #eee;
}

:root input[type="checkbox"].ios-switch:focus + div {
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset,
	            0 0 .4em 1px rgba(255,0,0,.5);
}

:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
}

:root input[type="checkbox"].ios-switch + div:after {
	content: 'en';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;

}

</style>