<link rel="stylesheet" href="assets/css/jquery.atwho.css" />
<link rel="stylesheet" type="text/css" href="assets/css/syntax.css"/>
<!--link href='http://fonts.googleapis.com/css?family=Dosis:400,700|Bubblegum+Sans|Overlock:400,900|PT+Sans:400,700|PT+Sans+Narrow:400,700|Magra|Asap:400,700|Share:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' -->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<style type="text/css">
html, body {
  background:#F9F9F9;
  padding: 0;
  margin: 0;
  font: 14px/1.6 "Lucida Grande", "Helvetica", sans-serif;
  color: #333;
}
h1,h2,h3,h4 {
  font-family: 'PT Sans', sans-serif;
  line-height: 40px;
  color: inherit;
  font-weight: bold;
  margin: 10px 0;
  text-rendering: optimizelegibility;
}
h2,h3 {
  color: gray;
}
strong {
  color: #424242;
}

a {
  color: #4183C4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}
header {
  margin-top:70px;
  margin-bottom: 50px;
}
header h1 {
  text-align: center;
  font-size: 75px;
}
h1 i {
  color: rgb(182, 180, 180);
  font-style: normal;
  font-weight: normal;
}

.inputor {
  height: 160px;
  width: 90%;
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 5px 8px;
  outline: 0 none;
  margin: 10px 0;
  background: white;
  font-size: inherit;
}
.inputor:focus {
  border: 1px solid rgb(6, 150, 247);
}


ul.doc {
  list-style:none;
}
ul.doc li {
  display:inline-block;
  margin: 0 10px;
}

footer {
  margin: 30px 0;
}

.github {
  text-align: center;
}

#forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#060;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;left:0;width:200px;overflow:hidden;height:200px;}#forkongithub a{width:200px;position:absolute;top:60px;left:-60px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}
</style>
<style>
ul.togglebtn {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	width: 250px;
	text-align: left;
	vertical-align: middle;
}
ul.togglebtn li {
	line-height: 30px;
	overflow: hidden;
	padding: 4px 0;
}
ul.togglebtn li label {
	float: left;
	font-weight: bold;
}
ul.togglebtn li .togglebox {
	float: right;
}

/* Actual code goes here */
.togglebox input {
	display: none;
}
.togglebox {
	display: inline-block;
	border: 1px solid #BBB;
	width: 130px;
	height: 30px;
	position: relative;
	border-radius: 20px;
	color: #FFF;
	font-weight: bold;
	overflow: hidden;
	box-shadow: 0 1px 0 #CCC;
}
.togglebox label {
	width: 200%;
	height: 100%;
	line-height: 30px;
	border-radius: 0.4em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-size: 1.1em;
	cursor: pointer;
	-webkit-transition: 0.12s;
	-moz-transition: 0.12s;
	transition: 0.12s;
}
.togglebox span {
	position: absolute;
	right: -100px;
}
			
.togglebox label::before {
	content: 'Bangla';
	width: 102px;
	float: left;
	margin-right: -16px;
	padding-right: 13px;
	text-align: center;
	background: #007FEA;
	text-shadow: 0 -1px 0px #093B5C;
	box-shadow: 0 4px 5px -2px rgba(0,0,0,0.3) inset;
}
.togglebox label b {
	display: block;
	height: 100%;
	width: 30px;
	float: left;
	position: relative;
	z-index: 1;
	border: 1px solid #AAA;
	background: #F6F6F6;
	box-shadow: 0 4px 0 -2px #F1F1F1 inset, 0 2em 2em -2em #AAA inset, 0 0 2px rgba(0,0,0,.5);
	border-radius: 20px;
}
.togglebox label:hover b {
	background: #E5E5E5;
}
.togglebox label::after {
	content: 'English';
	width: 102px;
	float: left;
	margin-left: -15px;
	padding-left: 13px;
	text-align: center;
	color: #999;
	background: #FFF;
	box-shadow: 0 4px 5px -2px rgba(0,0,0,0.3) inset;
}
			
.togglebox input:checked ~ label {
	left: -100px; }
</style>