<link rel="stylesheet" href="assets/css/jquery.atwho.css" />
<link rel="stylesheet" type="text/css" href="assets/css/syntax.css"/>
<!--link href='http://fonts.googleapis.com/css?family=Dosis:400,700|Bubblegum+Sans|Overlock:400,900|PT+Sans:400,700|PT+Sans+Narrow:400,700|Magra|Asap:400,700|Share:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' -->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<style type="text/css">
html, body {
  background:#F9F9F9;
  padding: 0;
  margin: 0;
  font: 14px/1.6 "Lucida Grande", "Helvetica", sans-serif;
  color: #333;
}
h1,h2,h3,h4 {
  font-family: 'PT Sans', sans-serif;
  line-height: 40px;
  color: inherit;
  font-weight: bold;
  margin: 10px 0;
  text-rendering: optimizelegibility;
}
h2,h3 {
  color: gray;
}
strong {
  color: #424242;
}

a {
  color: #4183C4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 750px;
  padding: 20px;
  margin: 0 auto;
}
header {
  margin-top:70px;
  margin-bottom: 50px;
}
header h1 {
  text-align: center;
  font-size: 75px;
}
h1 i {
  color: rgb(182, 180, 180);
  font-style: normal;
  font-weight: normal;
}

.inputor {
  height: 160px;
  width: 90%;
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 5px 8px;
  outline: 0 none;
  margin: 10px 0;
  background: white;
  font-size: inherit;
}
.inputor:focus {
  border: 1px solid rgb(6, 150, 247);
}


ul.doc {
  list-style:none;
}
ul.doc li {
  display:inline-block;
  margin: 0 10px;
}

footer {
  margin: 30px 0;
}

.github {
  text-align: center;
}

</style>
