@media screen and (min-width:800px) {

.container {
    height: 100%;
}

.avrosprite {
    background: url('../img/avrosprite.png');
}
.indicator-bare {
    background-position: -10px -0px;
    width: 100px;
    height: 100px;
}
.indicator-glow {
    background-position: -10px -110px;
    width: 100px;
    height: 100px;
}
.logo {
    background-position: -0px -220px;
    width: 99px;
    height: 39px;
}
		
#indicator div {
    position: absolute;
    top: 0;
    left: 0;
}
.leftbar {
    width: 100px;
}
.leftbar .vason {
    text-align: center;
}
#leftbar {
    float: left;
}
#middle {
    position: absolute;
    display: inline-block;
    left: 100px;
    right: 280px;
    height: 100%;
    background: url('../img/fg.jpg') repeat;
}
#rightbar {
    float: right;
    width: 260px;
}
#main {
    height: 95%;
    margin: 10px 30px 0 10px;
}
.logoright {
    float: right;
    margin: 14px;
}
.logoleft {
    display: none;
}
.share {
    position: absolute;
    text-align: right;
    bottom: 20px;
    right: 15px;
    margin: auto 0 auto auto;
    height: 60px;
    width: 150px;
}
.txtright {
    position: absolute;
    text-align: right;
    right: 15px;
    max-width: 200px;
}
.txttop {
    margin-top: 70px;
}
#mobilehint {
    display: none;
}
.draft {
    position: absolute;
    top:0;
    bottom:0;
    height:280px;
    margin: auto;
}
.draft ul li {
    list-style: none;
    padding: 15px 0;
}
.draft ul span {
    display: block;
    
}
.draft ul small {
    font-size: 12px;
    float: right;
}
}