---
---
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
        <title>Avropad</title>
        {% include stylesheet.html %}
    </head>
    <body>
        <div class="container wrapper">
            {% include fork_me.html %}
            <header>
              <h1>Avro<i>pad</i></h1>
            </header>
            <div id="main">
              {{content}}
            </div>
			<h2 id="loading"> Loading ... </h2>
            {% include javascript.html %}
            {% include footer.html %}
        </div>
    </body>
</html>
