---
---
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>At.js</title>
        {% include stylesheet.html %}
    </head>
    <body>
        <div class="container wrapper">
            {% include fork_me.html %}
            <header>
                <h1 class="head">At.js {% include version.html %}</h1>
                <h3></h3>
            </header>
            <div id="main">
              {{content}}
            </div>
            {% include javascript.html %}
        </div>
        {% include footer.html %}
    </body>
</html>
