---
---
<!DOCTYPE HTML>
<html lang="en" {% if site.env == 'prod' %} manifest="app.manifest" {% endif %}>
    <head>
        <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
        <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Avropad</title>
        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png" />
        <link rel="apple-touch-startup-image" href="assets/img/apple-touch-startup-image.png"/>
        {% include stylesheet.html %}
    </head>
    <body>
{{content}}
    </body>
</html>
